<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id"> id</label>
    <input type="text" th:field="*{id}" id="id" placeholder="Id" readonly>
    <br/>
    <br/>

    <label for="username"> Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username"> &nbsp;
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <br/>
    <br/>

    <label for="firstname"> Name</label>
    <input type="text" th:field="*{firstname}" id="firstname" placeholder="Firstname">
    <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
    <br/>
    <br/>

    <label for="lastname"> Last name</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Lastname">
    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
    <br/>
    <br/>

    <label for="email"> Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <br/>
    <br/>

    <label for="password"> Password</label>
    <br/>
    <br/>

    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <tr>
        <td>
            <th:block th:each="role : ${roles}">
                <label>
                    <input type="checkbox" name="rolesChecked" th:value="${role.role}"/>
                </label>
                <label th:text="${role.role}"></label>
            </th:block>
        </td>
    </tr> &nbsp;
    <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Roles can not be blank</span>

    <input type="submit" value="Update user">
</form>
</body>
</html>